@model ElevenNote.Models.CategoryModels.CategoryDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfNotes)
        </dd>
        

    </dl>
    <h4>Notes</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Notes)
        {

            <dt>@Html.DisplayNameFor(modelItem => item.NoteID)</dt>
            <dd>@Html.DisplayFor(modelItem => item.NoteID)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Title)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Title)</dd>
            <dd></dd>
            <dd>@Html.ActionLink("View Note","Details", "Note", new { id = item.NoteID }, null)</dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Edit", "Edit", new { id =Model.CategoryID })  |
    @Html.ActionLink("Back to List", "Index")
</div>
    }
</div>
